
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.header{
    font-family: 'Roboto Condensed', sans-serif;

    font-weight: 800;

    font-size:55px;
    height:60px;
    margin-top: 40px;
    margin-bottom:120px;
}
